@* Former Watch page *@
@{
    var loggedInUser = User.Identity?.Name;
}

<div class="container" id="stream-container" data-user="@loggedInUser">
    <div class="row">
        <div id="streamSelectorBox" class="col">
            <button id="viewStreamsBtn" class="btn btn-primary">View Streams</button>
            <div class="streams-container" id="streams-container" data-user="@ViewBag.Username">
                @foreach (var user in @ViewBag.Users)
                {
                    <div class="stream">
                        <input type="radio" name="streamerButton" id="@user.Name" value="@user.Name">
                        <label for="@user.Name">@user.Name</label>
                    </div>
                }
                <!-- Add more streams as needed -->
            </div>
        </div>

        <div class="col">
            <div class="row mt-4" id="streamsContainer">
                <!-- Streams will be dynamically added here -->
            </div>
        </div>

        <img id="circleImage" src="./assets/circle.png" alt="Circle">
        <input type="hidden" id="viewName" value="Home Index">
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/homepage.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>

}